<ion-view view-title="My Shares" name="register-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Company Name" ng-model="data.company">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="No. of shares" ng-model="data.shares">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="Unit price" ng-model="data.price">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="buy()">Buy Share</button>
	  <button class="button button-block button-positive" ng-click="sell()">Sell Share</button>
	  <button class="button button-block button-positive" ng-click="update()">Update Share</button>
  </ion-content>
</ion-view>